/* 
 * Title : Anytype Custom UI Style 
 * 
 * disc: play with debug tool to create a custom anytype ui style for Any type main page with css language only 
 *
 *
 *
 * created : 3/02/2023 
 *
 *
 * more coming up soon !
*/
/* change main body background */
html body {
  /*  TO use local images : file///: not gonna work , use direct C:/Users/... */
  background-image: url("https://unsplash.com/photos/person-holding-white-ring-light-1Kqc8ymfMKY");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: border-box;
}
/* move down block data table of cards */
.pageMainSet .wrapper .block.blockDataview {
  margin-top: 25vh;
}

/* hide the page type that showing up under the title  */
html.debug .blocks .block {
  border: none !important;
}

/* html.debug .blocks .block {
    border: 1px solid rgba(255,0,0,.1);
} */
/*  remove red border around blocks border  */
.blocks .block.blockFeatured.small .cellContent {
  display: none !important;
}
